# Opening Remarks

Security implications action (PII data): the original given database contained columns with the first and last name of each customer. Given the lack of data, the lack of need to use these columns in the present analysis and aiming at the proof of these data, these columns were excluded.

# List of contents

1 - Importing Data

2 - Checking and cleaning data

3 - Comparing customer behavior in different geographic areas

4 - Creating a Dataframe with the best buyers

5 - Creating Single Adult profile

6 - Analysing Single Adult profile

7 - Creating Young Parent profile

8 - Analysing Young Parent profile

9 - Comparing Single Adult Profile and Young Parent profile

# Importing Data

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Importing data from 'ordsers_products_customers'
path = r'/Users/marialuciaguarita/Python Careerfoundry Project 1'
ords_prods_cust_merge = pd.read_pickle(os.path.join(path,'Data','Prepared Data','orders_products_customers.pkl'))

# Checking and cleaning data

In [3]:
#Checking Data
ords_prods_cust_merge.head()

,user_id,gender,state,age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,busiest_day,frequency_of_days_loc,busiest_period_of_day,max_order,loyalty_flag,max_spend,spending_flag,frequency_range,frequency_flag,merge_3
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,Busiest day,Busiest_day,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,Regularly busy,NaN,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,Busiest day,Busiest_day,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,Regularly busy,NaN,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,Least busy,Least_busy_day,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both

In [4]:
ords_prods_cust_merge.shape

(32404859, 32)

# Comparing customer behavior in different geographic areas

In [ ]:
# If-Statements with the loc() Function - "State Region" 
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin( ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']), 'state_region'] = 'Northest'

In [ ]:
# If-Statements with the loc() Function - "State Region" 
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin( ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']), 'state_region'] = 'Midwest'

In [ ]:
# If-Statements with the loc() Function - "State Region" 
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin(['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama','Oklahoma'
'Texas', 'Arkansas', 'Louisiana']), 'state_region'] = 'South'

In [ ]:
# If-Statements with the loc() Function - "State Region" 
ords_prods_cust_merge.loc[ords_prods_cust_merge['state'].isin(['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']), 'state_region'] = 'West'

In [ ]:
ords_prods_cust_merge['state_region'].value_counts(dropna=False)

In [ ]:
crosstab=pd.crosstab(ords_prods_cust_merge['state_region'],ords_prods_cust_merge['spending_flag'],dropna=False)

In [ ]:
crosstab

# Creating a Dataframe with the best buyers

In [5]:
ords_prods_cust_merge_best = ords_prods_cust_merge

In [6]:
#Excluding Flag for low-activity customers
ords_prods_cust_merge_best.loc[ords_prods_cust_merge_best['max_order'] <=  5, 'exclusion_flag'] = 'Yes'

In [7]:
ords_prods_cust_merge_best.loc[ords_prods_cust_merge_best['max_order'] >  5, 'exclusion_flag'] = 'No'

In [8]:
#Checking Data
ords_prods_cust_merge_best ['exclusion_flag'].head(20)

0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: exclusion_flag, dtype: object

In [9]:
ords_prods_cust_merge_best.shape

(32404859, 33)

In [10]:
ords_prods_cust_merge_best.drop(ords_prods_cust_merge_best[ords_prods_cust_merge_best['exclusion_flag']=='Yes'].index,inplace=True)

In [11]:
#Checking new dataframe
ords_prods_cust_merge_best.shape

(30171424, 33)

In [12]:
ords_prods_cust_merge_best.columns

Index(['user_id', 'gender', 'state', 'age', 'date_joined', 'n_dependants',
       'fam_status', 'income', 'product_id', 'product_name', 'aisle_id',
       'department_id', 'prices', 'order_id', 'eval_set', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_day',
       'frequency_of_days_loc', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'max_spend', 'spending_flag', 'frequency_range',
       'frequency_flag', 'merge_3', 'exclusion_flag'],
      dtype='object')

# Formatting Data

In [ ]:
#Dropping unecessary columns
ords_prods_cust_merge_best = ords_prods_cust_merge_best.drop(columns = ['eval_set','merge_3'])

In [ ]:
#Dropping unecessary columns
ords_prods_cust_merge_best = ords_prods_cust_merge_best.drop(columns = ['reordered'])

In [ ]:
#Dropping unecessary columns
ords_prods_cust_merge_best = ords_prods_cust_merge_best.drop(columns = ['add_to_cart_order'])

In [ ]:
#Dropping unecessary columns
ords_prods_cust_merge_best = ords_prods_cust_merge_best.drop(columns = ['frequency_of_days_loc'])

In [ ]:
#Changing columns name 
ords_prods_cust_merge_best.rename(columns = {'price_range_loc' : 'price_range'}, inplace = True)

In [ ]:
#Changing columns name 
ords_prods_cust_merge_best.rename(columns = {'max_spend' : 'avg_spend'}, inplace = True)

In [ ]:
#Checking Data
ords_prods_cust_merge_best.columns

# Comparing Profiles - Income

In [13]:
#Creating a Dataframe with best buyers and spending power > $150,000
ords_prods_cust_merge_best_Rich = ords_prods_cust_merge_best.copy()
ords_prods_cust_merge_best_Rich.drop(ords_prods_cust_merge_best_Rich[ords_prods_cust_merge_best_Rich['income'] < 300000].index,inplace=True)

In [14]:
ords_prods_cust_merge_best_Rich ['prices'].describe()

count    98063.000000
mean         7.752017
std          4.273348
min          1.000000
25%          4.200000
50%          7.300000
75%         11.200000
max         25.000000
Name: prices, dtype: float64

In [15]:
#Creating a Dataframe with best buyers and spending power < $150,000
ords_prods_cust_merge_best_notrich = ords_prods_cust_merge_best.copy()
ords_prods_cust_merge_best_notrich.drop(ords_prods_cust_merge_best_notrich[ords_prods_cust_merge_best_notrich['income'] > 300000].index,inplace=True)

In [16]:
ords_prods_cust_merge_best_notrich ['prices'].describe()

count    3.006864e+07
mean     7.790118e+00
std      4.239491e+00
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      2.500000e+01
Name: prices, dtype: float64

# Single Adult profile

In [ ]:
ords_prods_cust_merge_best_SA = ords_prods_cust_merge_best.copy()

In [ ]:
#Creating a Dataframe with single adults best buyers
ords_prods_cust_merge_best_SA.drop(ords_prods_cust_merge_best_SA[ords_prods_cust_merge_best_SA['fam_status'] == 'married'].index,inplace=True)

In [ ]:
#Checking data
ords_prods_cust_merge_best_SA.shape

In [ ]:
#Creating a Dataframe with single adults best buyers with no dependents
ords_prods_cust_merge_best_SA.drop(ords_prods_cust_merge_best_SA[ords_prods_cust_merge_best_SA['n_dependants'] > 1].index,inplace=True)

In [ ]:
#Checking data
ords_prods_cust_merge_best_SA.shape

In [ ]:
ords_prods_cust_merge_best_SA.head(100)

In [ ]:
sns.scatterplot(x = 'age', y = 'income',data = ords_prods_cust_merge_best_SA)

In [ ]:
#Creating a Dataframe with single adults best buyers and spending power > $150,000
ords_prods_cust_merge_best_SA.drop(ords_prods_cust_merge_best_SA[ords_prods_cust_merge_best_SA['income'] < 150000].index,inplace=True)

In [ ]:
#Checking data
ords_prods_cust_merge_best_SA.shape

In [ ]:
# Formatting data
pd.set_option("display.float_format",lambda x:"%.2f"% x)

# Analysing Single Adult profile

In [ ]:
ords_prods_cust_merge_best_SA['state_region'].value_counts(dropna=False)

In [ ]:
ords_prods_cust_merge_best_SA['loyalty_flag'].value_counts().sort_index().plot.bar(color=['blue','yellow','green'])

In [ ]:
ords_prods_cust_merge_best_SA['spending_flag'].value_counts().sort_index().plot.bar(color=['pink','purple'])

In [ ]:
ords_prods_cust_merge_best_SA ['avg_spend'].describe()

In [ ]:
ords_prods_cust_merge_best_SA['frequency_flag'].value_counts().sort_index().plot.bar(color=['red','black','orange'])

In [ ]:
ords_prods_cust_merge_best_SA ['department_id'].value_counts(dropna=False)

In [ ]:
ords_prods_cust_merge_best_SA ['order_hour_of_day'].plot.hist (bins = 70)

# Young Parent Profile

In [ ]:
ords_prods_cust_merge_best_YP = ords_prods_cust_merge_best.copy()

In [ ]:
#Checking data
ords_prods_cust_merge_best_YP.shape

In [ ]:
#Creating a Dataframe with young best buyers
ords_prods_cust_merge_best_YP.drop(ords_prods_cust_merge_best_YP[ords_prods_cust_merge_best_YP['age'] > 45].index,inplace=True)

In [ ]:
#Checking data
ords_prods_cust_merge_best_YP.shape

In [ ]:
#Creating a Dataframe with young parets best buyers 
ords_prods_cust_merge_best_YP.drop(ords_prods_cust_merge_best_YP[ords_prods_cust_merge_best_YP['n_dependants'] < 1].index,inplace=True)

In [ ]:
#Checking data
ords_prods_cust_merge_best_YP.shape

In [ ]:
sns.scatterplot(x = 'age', y = 'income',data = ords_prods_cust_merge_best_YP)

In [ ]:
#Creating a Dataframe with young parets best buyers and spending power > $150,000
ords_prods_cust_merge_best_YP.drop(ords_prods_cust_merge_best_YP[ords_prods_cust_merge_best_YP['income'] < 150000].index,inplace=True)

In [ ]:
#Checking data
ords_prods_cust_merge_best_YP.shape

In [ ]:
# Formatting data
pd.set_option("display.float_format",lambda x:"%.2f"% x)

# Analysing Young Parent Profile

In [ ]:
ords_prods_cust_merge_best_YP['state_region'].value_counts(dropna=False)

In [ ]:
ords_prods_cust_merge_best_YP['loyalty_flag'].value_counts().sort_index().plot.bar(color=['blue','yellow','green'])

In [ ]:
ords_prods_cust_merge_best_YP['spending_flag'].value_counts().sort_index().plot.bar(color=['pink','purple'])

In [ ]:
ords_prods_cust_merge_best_YP ['avg_spend'].describe()

In [ ]:
ords_prods_cust_merge_best_YP['frequency_flag'].value_counts().sort_index().plot.bar(color=['red','black','orange'])

In [ ]:
ords_prods_cust_merge_best_YP ['department_id'].value_counts(dropna=False)

In [ ]:
# Importing data set departments.csv
df_dep = pd.read_csv(os.path.join(path,'Data', 'Original Data', 'departments.csv'), index_col = False)

In [ ]:
df_dep.head()

In [ ]:
#Transposing Data
df_dep.T

In [ ]:
ords_prods_cust_merge_best_YP ['order_hour_of_day'].plot.hist (bins = 70)

# Comparing Single Adult Profile and Young Parent

Comparing the two profiles of customers with more than 5 orders on the platform and purchasing power over US$150,000, we can observe:


   Sample Size: 424,297 (young parents) x 980,163 (single adults); 
   
   Majority from South and West regions from both samples;
   
   Income distribution: Above 40 years old both groups have customers with an spending power over $400,000;
   
   Loyalty Flag: The majority of young parents are regular customers (~210,000) x regular from single adults (~500,000); 
   
   Spending Flag: The majority of young parents are low spenders (~300,000) as single adults (~800,000); 
   
   Avg_spend mean: 74 young parents x 33 single adults; 
   
   Frequency Flag: ~60% from young parents are frequent customers x ~75% are non-frequent customers from single adults;
   
   Departments: It is interesting to note that the most used departments of both profiles are the same with only a slight inversion of the order, namely:
   
    - Produce department
    
    - Dairy Eggs
    
    - Beverage
    
    - Frozen products
    
    - Snacks
  
   Hour of the day: Considering the frequency of orders along the day, there was no difference between the two groups.  The biggest shopping days and times are Saturday and Sunday from 9 AM to 6 PM.