# Importing Libraries and Dataframes

In [ ]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [14]:
#Importing data from 'orders.csv'
path = r'/Users/marialuciaguarita/MLCG Instacart Basket Analysis'
df_ords_wc = pd.read_csv(os.path.join(path,'Data','Prepared Data','orders_wrangled.checked.csv'), index_col = False)

In [15]:
#Importing data from 'order_products_prior.csv'
path = r'/Users/marialuciaguarita/MLCG Instacart Basket Analysis'
df_ords_prior = pd.read_csv(os.path.join(path,'Data','Original Data','order_products__prior.csv'), index_col = False)

In [ ]:
# Checking the output
df_ords_prior.head()

# Combining and exporting

In [17]:
df_ords_prior.shape

(32434489, 4)

In [18]:
df_ords_wc.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [19]:
#Dropping columns
df_ords = df_ords_wc.drop (columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [20]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [21]:
df_ords.shape

(3421083, 7)

In [22]:
#Combining Data
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [29]:
# Check the output
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [23]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [24]:
df_merged_large.shape

(32434489, 11)

In [ ]:
#Exporting Data
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))